.SearchBarContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 1rem;
    width: 95%;
    margin: 0 50 20 50;
}

.label {
    text-align: left;
}

.SearchBar {
    min-width: 30%;
    min-height: 2rem;
    border-radius: 2rem;
    padding: 1rem;
}

.SearchBar[type='text'] {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.searchButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1.75rem;
    border-radius: 3rem;
    padding: 1rem;
    border: solid white 0.1rem;
    background-color: rgb(34, 6, 52);
    color: white;
    box-shadow: inset;
}
