.Track {
    border-bottom: solid 1px rgba(245, 245, 245, 0.709);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.TrackText {
    padding: 0 2rem 0 2rem;
    width: 80%;
}

.songName {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.AddDeleteBtn {
    background-color: rgb(9, 189, 230);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    min-height: 2rem;
    min-width: 3rem;
    margin-right: 1rem;
    border-radius: 20px;
    box-shadow: none;
    border: none;
}

.AddDeleteBtn:active {
    background-color: rgb(76, 0, 152);
    color: white;
}